<button>Hi</button>
<h3>Navigation</h3>

<ul>
	<li ui-sref-active="active" class="nav-item"><a ui-sref="main.dashboard">dashboard</a></li>
	<li ui-sref-active="active" class="nav-item"><a ui-sref="main.transactions.day" ui-sref-active="active">transactions</a></li>
	<li><a ui-sref="main.categories"></a></li>
	<li><a ui-sref="main.stocks"></a></li>
	<li><a ui-sref="main.brokerage"></a></li>
	<li><a ui-sref="main.retirement"></a></li>
	<li><a ui-sref="main.accounts"></a></li>
	<li><a ui-sref="main.settings"></a></li>
</ul>