<h3>New Transactions</h3>
<form id="new-transaction-form" class="form" ng-submit="create(transactions)">
	<!-- inputs -->
	<label for="merchant">Merchant<input type="text" id="merchant" ng-model="transactions.merchant"></label>
	<label for="description">Description<input type="text" id="description" ng-model="transactions.description"></label>
	<label for="date">Date<input type="date" id="date" ng-model="transactions.date"></label>
	<label for="amount">Amount<input type="text" id="amount" ng-model="transactions.amount"></label>
	<label for="classification">Classification<input type="text" id="classification" ng-model="transactions.classification"></label>
	<label for="category">Category<input type="text" id="category" ng-model="transactions.category"></label>
	<label for="split">Split<input type="checkbox" id="split" ng-model="transactions.split" ng-init="checked=false"></label>
	<!-- btns -->
	<input type="submit" value="Submit">
	<input type="button" value="Cancel">
</form>